services:
  npm:
    image: jc21/nginx-proxy-manager:latest
    container_name: npm
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./npm_data:/data
      - ./npm_letsencrypt:/etc/letsencrypt