services:
  beszel:
    image: henrygd/beszel:latest
    container_name: beszel
    ports:
      - "8090:8090"
    volumes:
      - ./data:/beszel_data
    environment:
      - TZ=Europe/Paris
    restart: unless-stopped
  beszel-agent:
    image: henrygd/beszel-agent
    container_name: beszel-agent
    restart: unless-stopped
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./beszel_agent_data:/var/lib/beszel-agent
      # monitor other disks / partitions by mounting a folder in /extra-filesystems
      # - /mnt/disk/.beszel:/extra-filesystems/sda1:ro
    environment:
      LISTEN: 45876
      KEY: 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAII+ezZQK4/0blCar2I76YnM1+p+Xl0Xm0z1DbyVu9LZl'
      TOKEN: 8b4b-e49166026-8742-ae98bdce4
      HUB_URL: http://192.168.1.46:8090

#Pour un agent en local
